<%- include('partials/navbar.ejs') %>
    <h1>Services</h1>
    <div class="centered">
        <div class="product ">
            <img class="productImage left" src="/images/20210905_182044.jpg" alt="Some single color nails"></img>
            <h2 class="productName">GEL POLISH MANI WITH ONE COLOR</h2>
            <p class="description">
                Includes manicure, cuticle care, filing, buffing and shaping and one gel polish color of your choice.
                Can be more than
                one solid color!
            </p>
        </div>
    </div>
    <div class="centered">
        <div class="product ">
            <img class="productImage right" src="/images/20210502_181548.jpg" alt="Nail that says London"></img>
            <h2 class="productName">GEL POLISH MANI WITH SIMPLE DESIGN</h2>
            <p class="description">
                Includes manicure, cuticle care, filing, buffing and shaping and includes simple nail art such as;
                glitter, stamps, a
                few accent nails or simple hand painting.
            </p>
        </div>
    </div>
    <div class="centered">
        <div class="product ">
            <img class="productImage left" src="/images/20210329_223043.jpg"></img>
            <h2 class="productName">GEL POLISH MANI WITH COMPLEX DESIGN</h2>
            <p class="description">
                Includes manicure, cuticle care, filing, buffing and shaping and complex nail art. This can include
                simple nail art on
                all ten nails, chromed stamps on all ten nails, charms/crystals/studs/decals, hand lettering and
                hand painted designs or
                characters.
            </p>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>