<%- include('partials/navbar.ejs') %>
    <h1>About</h1>
    <div class="centered">
        <div class="product ">
            <div class="bioImage left"></div>
            <h2 class="productName">Lilia Mendoza</h2>
            <p class="description">
                When I was two years old my dad escaped the violence of the cartels in Mexico and brought my family here
                to Colorado to
                start a better life...(pause)

                This journey was incredibly hard on us and it was through the trauma of this incredibly terrifying
                situation that I
                started to witness domestic violence in my family and community. (pause)

                Deep roots of anxiety started to build as I grew up in constant fear of being deported and experiencing
                abuse. As I got older, I found one place where I felt completely safe and comforted. (pause)

                This place was my nail salon.

                I was 13 years old when I first got my nails done. I was going to be in my cousin's quinceanera and we
                all went to get
                dolled up for the event. This was more than just a special event, but one of the first times in
                my life where I truly felt beautiful.

                However, my dad and many men in the Mexican culture did not approve of my nails. They would tell me that
                only street
                walkers wear acrylic nails. These were comments I grew up with, criticizing so many areas
                of my life. In the mexican culture, men have the power to say whatever they want, making women feel
                small and unworthy.
                I always felt like I had to hide who I was and my nails in shame.

                I continued to go back to get my nails done and it was through this emotional time in my life that I met
                my nail artist
                Janet. Unlike other nail salons, where it often feels transactional Janet was there for me as a
                confidant, therapist and my closest friend. She made the nail salon a safe haven where I could release
                my anxiety and
                talk through all of my life obstacles.

                Getting my nails done became an act of regaining confidence and strength to take on life. I walked out
                every week
                feeling beautiful and in control of my life again.

            </p>
        </div>
    </div>






    <%- include('partials/footer.ejs') %>