<%- include('partials/navbar.ejs') %>
    <section class="header">
        <h1 class="companyName">Lily Ba&egrave;</h1>
        <p class="mission">Fancy custom nails in Capital Hill.</p>
        <a class="btn-bgstroke" href="https://www.squareup.com/us/en">Book Apointment Now</a>
    </section>
    <section class="quote">
        <h2>Lilia Mendoza:</h2>
        <p>"My goal is to deliver beauty and healing benefits to you with the services I provide. Get premium nail care
            at an
            affordable price. As soon as you walk through the doors at Lily Bae you will feel right at home. So treat
            yourself to
            professional artistic nail enhancement services!"</p>
    </section>
    <h2 class="galleryTitle">Gallery</h2>
    <div class="gallery">
        <img src="/images/20201126_231435.jpg" alt="Nail with design">
        <img src="/images/20210101_191707.jpg" alt="Nail with design">
        <img src="/images/20210213_212905.jpg" alt="Nail with design">
        <img src="/images/20210320_222541.jpg" alt="Nail with design">
        <img src="/images/20210329_223043.jpg" alt="Nail with design">
        <img src="/images/20210329_222951.jpg" alt="Nail with design">
        <img src="/images/20210331_224452.jpg" alt="Nail with design">
        <img src="/images/20210411_110355.jpg" alt="Nail with design">
        <img src="/images/20210501_210517.jpg" alt="Nail with design">
        <img src="/images/20210502_181548.jpg" alt="Nail with design">
        <img src="/images/20210522_144846.jpg" alt="Nail with design">
        <img src="/images/20210905_182044.jpg" alt="Nail with design">
        <img src="/images/PicsArt_10-12-11.25.11.jpg" alt="Nail with design">
        <img src="/images/PicsArt_10-12-11.26.25.jpg" alt="Nail with design">
        <img src="/images/PicsArt_10-12-11.27.58.jpg" alt="Nail with design">
        <img src="/images/PicsArt_10-12-11.29.09.jpg" alt="Nail with design">
        <img src="/images/PicsArt_10-12-11.35.39.jpg" alt="Nail with design">
        <img src="/images/PicsArt_10-12-11.36.07.jpg" alt="Nail with design">
        <img src="/images/PicsArt_10-12-11.38.24.jpg" alt="Nail with design">
        <img src="/images/PicsArt_10-12-11.39.29.jpg" alt="Nail with design">
        <img src="/images/PicsArt_10-13-05.08.13.jpg" alt="Nail with design">
        <img src="/images/PicsArt_10-19-08.06.31.jpg" alt="Nail with design">
        <img src="/images/PicsArt_11-29-04.01.58.jpg" alt="Nail with design">
        <img src="/images/PicsArt_12-05-10.10.22.jpg" alt="Nail with design">
    </div>

    <%- include('partials/footer.ejs') %>