<%- include('partials/navbar.ejs') %>
    <h1>Services</h1>
    <div class="centered">
        <div class="product ">
            <h2>GELS</h2>
            <div class="product gel">
                <img class="productImage left" src="/images/a39fde642cf5ada53d6cc0b7a54da6bc.jpg"
                    alt="5 different colored nails"></img>
                <h3 class="productName">ONE COLOR</h2>
                    <p class="description">
                        Includes manicure, cuticle care, filing, buffing and shaping and one gel polish color of your
                        choice. Can be more than
                        one solid color!
                    </p>
            </div>
            <div class="product gel">
                <img class="productImage left" src="/images/6ca0195d97037bd9f1cce6097f1dfad5.jpg"
                    alt="Nails with a simple design"></img>
                <h3 class="productName">SIMPLE DESIGN</h2>
                    <p class="description">
                        Includes manicure, cuticle care, filing, buffing and shaping and includes simple nail art such
                        as;
                        glitter, stamps, a
                        few accent nails or simple hand painting.
                    </p>
            </div>
            <div class="product gel">
                <img class="productImage left" src="/images/f813cdd01a71678f0115dcc8ea07e9bb.jpg"
                    alt="Nails with a complex design like a smily face or a bannana"></img>
                <h3 class="productName">COMPLEX DESIGN</h2>
                    <p class="description">
                        Includes manicure, cuticle care, filing, buffing and shaping and complex nail art. This can
                        include
                        simple nail art on
                        all ten nails, chromed stamps on all ten nails, charms/crystals/studs/decals, hand lettering and
                        hand painted designs or
                        characters.
                    </p>
            </div>
        </div>
    </div>
    <div class="centered">
        <div class="product ">
            <img class="productImage right" src="/images/ee289304c8e14a2c7f33f9b06e9a0d7d.jpg"
                alt="Blue toe nails"></img>
            <h2 class="productName">GEL PEDICURE</h2>
            <p class="description">
                This is a simple pedicure that includes shaping and buffing the nails, cuticle and callus softening
                removal, a mild foot
                scrub and a light massage. Finished with gel polish. This pedicure is performed dry with hot towels.
            </p>
        </div>
    </div>
    <div class="centered">
        <div class="product ">
            <img class="productImage left" src="/images/a9e2b31383cea83c77b11d5a9955659e.jpg"></img>
            <h2 class="productName">SPA PEDICURE</h2>
            <p class="description">
                A relaxing chamomile and gardenia spa pedicure. Shape, buff, extra callus and cuticle work if needed.
                This is great for
                built up cuticles and hard calluses. This pedicure includes a exfoliating sugar scrub and a chamomile
                foot clay mask
                finished with a nice long massage. This pedicure is performed dry with hot towels. Includes gel polish &
                simple design
            </p>
        </div>
    </div>
    <div class="centered">
        <div class="product ">
            <img class="productImage right" src="/images/20210329_222951.jpg"
                alt="An array of Gel nail extentions"></img>
            <h2 class="productName">GEL-X SOFT GEL EXTENSIONS</h2>
            <p class="description">
                Attention is focused on your cuticles, skin surrounding the nail bed, preparation for/and the gel-x
                application,
                professional gel polish applied, and topped off with cuticle oil.
                Choose from desired length and shape.
                One color on ten fingers only.
                I use ENail Couture extensions.
                PLEASE schedule a removal if you have on another salons product, or a Hard Gel/Acrylic that I have
                applied.
            </p>
        </div>
    </div>
    <div class="centered">
        <div class="product">
            <img class="productImage left" src="/images/20210320_222541.jpg"
                alt="Am Acrylic nail with a moon on it"></img>
            <h2 class="productName">Acrylic Full Set</h2>
            <p class="description">
                Nail enhancement services using acrylic (powder and liquid). All enhancements includes cuticle
                maintenance before
                application, client can choose any length (short, medium or long), any shape (tapered/traditional
                square, round, oval,
                stiletto, almond)
            </p>
            <p>**You must come with naked fingers or schedule a REMOVAL OF NAILS**</p>
        </div>
    </div>
    <div class="centered">
        <div class="product">
            <h2>NAIL ART</h2>
            <div class="product gel">
                <img class="productImage left" src="/images/20210502_181548.jpg"
                    alt="A nail with the text London"></img>
                <h3 class="productName">SIMPLE ART – ACRYLIC/GEL-X</h2>
                    <p class="description">
                        This service includes gel polish and choice of something like stamps, foils, decals, simple hand
                        painted art on a couple
                        of nails etc.
                    </p>
            </div>
            <div class="product gel">
                <img class="productImage left" src="/images/20201126_231435.jpg"
                    alt="A nail with a cartoon on it"></img>
                <h3 class="productName">COMPLEX ART - ACRYLIC/GEL-X</h2>
                    <p class="description">
                        This service includes art like cartoons, scenery, etc. You are welcome to contact me to discuss
                        this appointment so that
                        we can make sure you get exactly what you want.
                    </p>
            </div>
            <div class="product gel">
                <img class="productImage left" src="/images/20210329_223043.jpg"
                    alt="A nail with abstract art on it"></img>
                <h3 class="productName">FREESTYLE ACRYLIC/GEL-X</h2>
                    <p class="description">
                        I will freestyle and do art that I choose. Client can choose the color scheme and I will take
                        artistic liberty for the
                        rest. It may include art and 3D &/or Swarovski crystals.
                    </p>
            </div>
            <div class="product gel">
                <img class="productImage left" src="/images/20210501_210517.jpg"
                    alt="A hand with nails that have crystals on them"></img>
                <h3 class="productName">3D ART - ACRYLIC/GEL-X</h2>
                    <p class="description">
                        3d can be on the surface of the nail or it can be embedded or encapsulated. You can get crazy or
                        keep it simple price
                        can change depending on length and complexity of the art.
                    </p>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>