<footer>
    <p class="footElement"><a class="footLink"
            href="https://www.google.com/maps/place/1450+Logan+St,+Denver,+CO+80203/@39.7394397,-104.9908578,15z/data=!4m13!1m7!3m6!1s0x876c792b30193a1b:0x46886865517013d1!2s1450+Logan+St,+Denver,+CO+80203!3b1!8m2!3d39.7394397!4d-104.9821031!3m4!1s0x876c792b30193a1b:0x46886865517013d1!8m2!3d39.7394397!4d-104.9821031">Adress:
            1450
            Logan St Denver, CO 80203</a></p>
    <p class="footElement"><a class="footLink" href="https://www.instagram.com/lilybaenails/">Instagram</a></p>
    <p class="footElement"><a class="footLink" href="https://www.facebook.com/lilynailz">Facebook</a></p>
</footer>

</body>

</html>