<footer>
    <p class="footElement">Adress: 1111 E 11th ave</p>
    <p class="footElement"><a href="https://www.instagram.com/lilybaenails/">Instagram</a></p>
    <p class="footElement"><a href="https://www.facebook.com/lilynailz">Facebook</a></p>
</footer>

</body>

</html>