<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | Lily Ba&egrave;
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav>
        <div class="navItem"><a href="/home"><img class="navLogo" src="/images/Picsart_22-05-15_19-48-26-105.png"
                    alt="Home"></a>
        </div>
        <div class="navItem <%= title === 'Services' && 'active';%>"><a href="/services">Services</a></div>
        <div class="navItem <%= title === 'About' && 'active';%>"><a href="/about">About</a></div>
        <div class="navItem apointment"><a href="https://www.squareup.com/us/en">Book Apointment Now</a></div>
    </nav>